<div class="container py-5">

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold py-2" href="/estudiantes">@mAR | Sistema de Estudiantes Bootcamp</a>
    </div>
  </nav>

  <table class="table table-striped mt-5">
    <thead class="table-dark">
      <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Descripción Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let est of estudiantes">
        <td>{{ est.rut }}</td>
        <td>{{ est.nombre }}</td>
        <td>{{ est.apellidoPat }}</td>
        <td>{{ est.apellidoMat }}</td>
        <td>{{ est.curso.plan.descripcion }}</td>
        <td><a href="#"><button class="btn btn-info">Ver</button></a></td>
      </tr>
    </tbody>
  </table>


</div>
